external_url "http://gitlab.{{ host_external_ip }}.xip.io:8000"

# CHANGEME
ci_external_url "http://gitlabci.{{ host_external_ip }}.xip.io:8000"
#gitlab_ci['gitlab_server'] = { 'url' => 'http://gitlab.{{ host_external_ip }}.xip.io:8000/', 'app_id' => 'XXXXXXXXXXXXXX', 'app_secret' => 'XXXXXXXXXXXXXX'}
